circle {
    stroke: #BD8F2C;
    stroke-width: 3px;
}

.child {
    fill: #675C41;
    cursor: pointer;
}

.child:hover {
    fill: #8c7843;
}

.active {
    fill: #FFCD34;
}

.active:hover {
    fill: #FFCD34;
}

.active > text {
    fill: black;
}

.child:hover > text {
    fill: black;
}

.parent {
    fill: #3F3F42;
}

text {
    font: 28px 'rubik', sans-serif;
    fill: white;
    line-height: 1.2;
}

text .text-bold {
    font-weight: bold;
}

.boxes {
    position: relative;
    float: left;
    width: 50%;
}

.circles {
    position: relative;
}

.zero {
    fill: #747474;
    stroke: #5A5A5A;
    stroke-width: 3px;
    cursor: not-allowed;
}

.zero:hover > text {
    fill: white;
    cursor: not-allowed;
}
