circle {
    stroke: #BD8F2C;
    stroke-width: 3px;
}

text {
    font: 28px 'rubik', sans-serif;
    fill: white;
    line-height: 1.2;

    .text-bold {
        font-weight: bold;
    }

    &:hover {
        fill: black;
        cursor: pointer;
    }
}

.diabetes {
    circle {
        stroke: #BD8F2C;
        stroke-width: 3px;
    }
    .parent-circle {
        fill: #3F3F42;
    }

    .child-circle {
        fill: #675C41;
        cursor: pointer;

        &:hover {
            fill: #8C7843;

            > text {
                fill: black;
            }
        }
    }

    .active-circle {
        fill: #FFCD34;

        > text {
            fill: black;
        }

        &:hover {
            fill: #FFCD34;
        }
    }
}

.pulmonary {
    circle {
        stroke: #A2005E;
        stroke-width: 3px;
    }
    .parent-circle {
        fill: #3B3547;
    }

    .child-circle {
        fill: #52294D;
        cursor: pointer;

        &:hover {
            // fill: #8C7843;
            fill: #652751;

            > text {
                fill: black;
            }
        }
    }

    .active-circle {
        fill: #FF0094;

        > text {
            fill: black;
        }

        &:hover {
            fill: #FF0094;
        }
    }
}

.zero-circle {
    > circle {
        fill: #747474;
        stroke: #5A5A5A;
        stroke-width: 3px;
        cursor: not-allowed;

        &:hover > circle + text {
            fill: white;
            cursor: not-allowed;
        }
    }

    > .annotation-connector .connector,
    > .annotation-note .note-line {
        stroke: #5A5A5A;
    }

    ~ .annotation-note-content {
        cursor: default;
    }
}

.annotation-layer {
    cursor: default;
}

.annotation-connector .connector,
.annotation-note .note-line {
    stroke-width: 2;
    stroke: #675C41;
}


.annotation-subject .subject {
    stroke: none;
}

.annotation-note-label, .annotation-note-label:hover,
.annotation-note-title, .annotation-note-title:hover {
    stroke: white;
    fill: white;
    font-size: 16px;
    cursor: default;
}

.annotation-note-title, .annotation-note-title:hover {
    font-weight: 100;
}

.styleButtons {
    span {
        font-size: 18px;
    }
    button {
        height: 25px;
        width: 100px;
        margin: 12px;
    }
}
