@import 'circles';

body {
    font-family: 'rubik', sans-serif;
}

.styleButtons {
    span {
        font-size: 18px;
    }
    button {
        height: 25px;
        width: 100px;
        margin: 12px;
    }
}
