circle {
    stroke: #BD8F2C;
    stroke-width: 3px;
}

text {
    font: 28px 'rubik', sans-serif;
    fill: white;
    line-height: 1.2;
}

text .text-bold {
    font-weight: bold;
}

text:hover {
    fill: black;
    cursor: pointer;
}

.parent {
    fill: #3F3F42;
}

.child {
    fill: #675C41;
    cursor: pointer;
}

.child:hover {
    fill: #8C7843;
}

.child:hover > text {
    fill: black;
}

.active + text {
    fill: black;
}

.active {
    fill: #FFCD34;
}

.active:hover {
    fill: #FFCD34;
}

.zero > circle {
    fill: #747474;
    stroke: #5A5A5A;
    stroke-width: 3px;
    cursor: not-allowed;
}

.zero:hover > circle + text {
    fill: white;
    cursor: not-allowed;
}
