@import 'circles';

@font-face {
    font-family: 'rubik';
    src: url('/fonts/rubik.ttf') format('truetype');
}
body {
    font-family: 'rubik', sans-serif;
}

.styleButtons {
    span {
        font-size: 18px;
    }
    button {
        height: 25px;
        width: 100px;
        margin: 12px;
    }
}
